checkpoint_big_0.pth.tar
checkpoint_big_1.pth.tar
checkpoint_big_2.pth.tar
checkpoint_big_3.pth.tar
checkpoint_big_4.pth.tar
checkpoint_big_5.pth.tar
checkpoint_big_6.pth.tar
checkpoint_big_7.pth.tar
sample_text.txt
